.sort {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.sort > button {
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: var(--border5px);
  background-color: rgba(184, 184, 184, 0.212);
}

.sort > button:hover {
  background-color: var(--secondaryColor);
  color: white;
}

#sortByPrice {
  margin: 0 10px;
}
